.navbar {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler {
    border-color: rgb(158, 158, 158);
} 

.nav-link{
    color: white;
    font-weight: 800;
}

.homeclick {
    width: 60px;
    display: inline-block;
}

.bottom {
    font-size: small;
    text-align: center;
    color: white;
    background-color: #070076;
    padding-top: 15px;
    padding-bottom: 5px;
}

.home-page-header {    
    background-image: url("../images/home_background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-page-intro{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 300px;   
    color: white;
}

.my-name {     
    font-weight: 800;
    font-size: 80px;
}


.intro {
    font-weight: 200;
}

.index-content {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.home-photo {
    padding: 50px;
    padding-bottom: 25px;
    width: 300px;
}

.contact {
    padding-top: 50px;
}

/* blog stuff */

.masthead {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-button {
    background-color :#070076;
    color: white;
}

.site-heading {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;   
}

.post-preview {
    padding-top: 25px;
    padding-bottom: 25px;
}

.blog-link {
    color: black;
    text-decoration: none;
}

.post-title {
    font-size: 50px;
}

.post-title:hover {
    color:#473afc;
}

.post-subtitle {
    font-weight: 200;
}
