body {
    background-color: #f1ead4;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-bar {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    vertical-align: middle;  
    background-color: #f1ead4;
}

.home-click {
    width: 50px;
    display: inline-block;
    padding-top: 10px;
}

.nav-buttons {
    display: inline-block;
    margin-left: 30%;
    vertical-align: middle;
    padding-bottom: 10px;
}

.unactive {
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
}

a {
    color: #5F8D4E;
}

a:visited {
    color: #5F8D4E;
}

a:hover {
    color: #285430;
}

.top {
    padding-top: 200px;
    height: 60vh;
}

.top_cloud {
    position: absolute;
    right: 30%;
    z-index: 1;  
    top: 15%;  
}

.bottom_cloud {
    position: absolute;
    left: 30%;
    z-index: 1;
    top: 35%;
}

.kevin {
    position: absolute;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Pacifico', cursive;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12vh;
    z-index: 2;
    top: 15%;
    color: #5F8D4E;
}

.pro {
    position: absolute;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3vh;
    z-index: 2;
    top: 35%;
    color: #5F8D4E;
}

.mountain {
    position: absolute;
    bottom: 10%;
    width: 100vw;
    text-align: center;    
}

#mountain {
    height: 50vh;
}


.middle {
    background-color: white;
}

.hello {
    padding-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding-bottom: 100px;
}

ul {
    list-style: none;
    font-size: 18px;
    width: 75%;
    line-height: 1.5;    
}

.greetings {
    color: #5F8D4E;
    font-size: 35px;
}

.titles {
    color: #285430;
    font-size: 45px;
}

hr {
    border-top: 10px dotted #f1ead4;
    border-bottom: hidden;
    width: 20%;
}

.skills-group {
    padding-top: 100px;
    padding-bottom: 100px;
}

.school-img {
    width: 210px;
    float: left;
    margin-left: 25%;
    margin-right: 60px;
}

.computer-img {
    width: 210px;
    float: right;
    margin-right: 10%;
    margin-left: 60px;
}

.chinese-img {
    width: 210px;
    float: left;
    margin-left: 25%;
    margin-right: 60px;
}

.sports-img {
    width: 210px;
    float: right;
    margin-right: 10%;
    margin-left: 60px;
}

.school-list {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.computer-list {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.chinese-list {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.sports-list {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.bottom { 
    background-color: #A4BE7B;
    padding: 20px;
}

.bottom-links {
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    background: #A4BE7B;
    background-image: -webkit-linear-gradient(top, #A4BE7B, #A4BE7B);
    background-image: -moz-linear-gradient(top, #A4BE7B, #A4BE7B);
    background-image: -ms-linear-gradient(top, #A4BE7B, #A4BE7B);
    background-image: -o-linear-gradient(top, #A4BE7B, #A4BE7B);
    background-image: linear-gradient(to bottom, #A4BE7B, #A4BE7B);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #285430;
    background-image: -webkit-linear-gradient(top, #285430, #285430);
    background-image: -moz-linear-gradient(top, #285430, #285430);
    background-image: -ms-linear-gradient(top, #285430, #285430);
    background-image: -o-linear-gradient(top, #285430, #285430);
    background-image: linear-gradient(to bottom, #285430, #285430);
    text-decoration: none;
    color: #ffffff;
  }

.contact {
    padding: 100px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}