.heart {
  color: red;
}

.footer {
  text-align: center;
  background-color: rgba(153, 153, 153, 0.3);
  padding-top: 20px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin-top: 25px;
  }
}
