.bigBox {
  padding: 15vh 10vw;
  min-height: calc(100vh - 125px);
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 255, 0.3) 50%,
    rgba(0, 0, 255, 0.3) 100%
  );
}

.xButton {
  position: absolute;
  right: 45px;
  top: 90px;
  color: rgba(255, 115, 0, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 32px;
}

.xButton:hover {
  color: rgba(255, 115, 0, 1);
}

.bigName {
  font-size: 70px;
  display: inline-block;
  white-space: nowrap;
}

.icons {
  text-align: center;
  vertical-align: top;
  margin-top: 100px;
  margin-left: 20%;
  font-size: 40px;
  display: inline-block;
  width: 40%;
}

.links {
  color: inherit;
  margin-right: 25px;
}

.links:hover {
  opacity: 70%;
}

.subtitle {
  font-weight: 100;
}

.portrait {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: -60px;
}

.name {
  display: inline-block;
  width: 40%;
}

.allName {
  display: inline-block;
  width: 60%;
}

.portrait {
  width: 200px;
}

.myIntro {
  font-size: 18px;
}

.contact {
  font-size: 16px;
}

.sendEmail {
  margin-top: 5vh;
}

.contactMe {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 20px;
  border-radius: 10px;
}

.contactMe:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1200px) {
  .bigBox {
    padding: 0;
    padding-top: 100px;
  }

  .icons {
    display: block;
    width: 100vw;
    margin: 50px 0;
    padding: 0 15vw;
  }
  .name {
    display: block;
    width: 100vw;
    text-align: center;
    padding: 0 15vw;
  }

  .bigBox {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .bigName {
    font-size: 40px;
  }
}
