.bigBox {
  padding: 10%;
  height: calc(100vh - 125px);
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 255, 0.3) 50%,
    rgba(0, 0, 255, 0.3) 100%
  );
}

.bigName {
  font-size: 70px;
  display: inline-block;
}

.icons {
  text-align: center;
  vertical-align: top;
  margin-top: 5%;
  margin-left: 20%;
  font-size: 40px;
  display: inline-block;
  width: 40%;
}

.links {
  color: inherit;
  margin-right: 25px;
}

.links:hover {
  opacity: 70%;
}

.subtitle {
  font-weight: 100;
}

.portrait {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: -60px;
}

.name {
  display: inline-block;
  width: 40%;
}

.allName {
  display: inline-block;
  width: 60%;
}

.portrait {
  width: 200px;
}

.myIntro {
  font-size: 18px;
}

.contact {
  font-size: 16px;
}

.sendEmail {
  margin-top: 15%;
}

.contactMe {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 3%;
  border-radius: 10px;
}

.contactMe:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
