.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 45px;
  align-items: center;
}

.gitLink {
  text-align: end;
}

.projectTitle {
  font-size: 36px;
  text-align: end;
}

.description {
  font-size: 20px;
  padding-left: 10vw;
  padding-right: 5vw;
}
