.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 45px;
  align-items: center;
  margin-bottom: 50px;
}

.projectTitle {
  font-size: 36px;
  text-align: end;
}

.projectTitle:hover {
  cursor: pointer;
  color: rgb(185, 185, 185);
}

.description {
  font-size: 20px;
  padding-left: 10vw;
  padding-right: 5vw;
}
