.everything {
  display: none;
}

.loadingScreenLeft {
  position: absolute;
  left: -25vw;
  height: 100vh;
  width: 150vw;
  z-index: 9;
  background: linear-gradient(
    60deg,
    rgb(240, 240, 240) 0%,
    rgb(240, 240, 240) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 4s;
}

.loadingScreenRight {
  position: absolute;
  left: -25vw;
  height: 100vh;
  width: 150vw;
  z-index: 9;
  background: linear-gradient(
    60deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(20, 20, 20, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
  transition: 4s;
}

.loadingScreenLeft[start='yes'] {
  translate: -200vw;
}

.loadingScreenRight[start='yes'] {
  translate: 200vw;
}

.enterButton {
  position: absolute;
  padding: 10px 30px;
  top: 48vh;
  left: calc(50vw - 110px);
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: white;
  font-size: 36px;
  border: none;
}

.enterButton:hover {
  border: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
}

.loadingWheel {
  position: absolute;
  top: 41vh;
  left: calc(50vw - 100px);
  z-index: 99;
}
.loadingWheel div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 144px;
  height: 144px;
  margin: 32px;
  border: 32px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
