@import '_global.scss';
@import '_settings.scss';

body {
  background-color: $superLightGrey;
  color: $primary;
  transition: 2s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $secondary;
    color: $white;
  }
}

body[theme='dark'] {
  background-color: $secondary;
  color: $white;
}

body[theme='light'] {
  background-color: $superLightGrey;
  color: $primary;
}